<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Archetype Created Web Application</display-name>
	<display-name>wdf</display-name>
	<context-param>
		<param-name>AuthClass</param-name>
		<param-value>wdf.core.framework.DBAuthenticator</param-value>
	</context-param>
	<context-param>
		<param-name>http.session.authenticator</param-name>
		<param-value>wdf.jsp.authentication.FCSessionAuthenticator</param-value>
	</context-param>
	<context-param>
		<param-name>http.server.controlpackage</param-name>
		<param-value>wdf.control</param-value>
	</context-param>
	<context-param>
		<param-name>log4j.init.file</param-name>
		<param-value>/classes/log4j.properties</param-value>
	</context-param>
	<context-param>
		<param-name>classloader.serverimpl.directory</param-name>
		<param-value>/classes/</param-value>
	</context-param>
	<context-param>
		<param-name>sql.directory</param-name>
		<param-value>/classes/resources/sql/happyall/</param-value>
	</context-param>
	<context-param>
		<param-name>control.directory</param-name>
		<param-value>/classes/resources/control/</param-value>
	</context-param>
	<context-param>
		<param-name>log4j.out.directory</param-name>
		<param-value>/logs/</param-value>
	</context-param>
	<context-param>
		<param-name>classloader.control.class</param-name>
		<param-value>wdf.control.FCJspServiceController</param-value>
	</context-param>
	<context-param>
		<param-name>classloader.control.directory</param-name>
		<param-value>/classes/control/</param-value>
	</context-param>
	<context-param>
		<param-name>validatingclassloader.enable</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>http.server.url</param-name>
		<param-value>http://www.akmro.com</param-value>
	</context-param>
	<context-param>
		<param-name>http.server.docdir</param-name>
		<param-value></param-value>
	</context-param>
	<context-param>
		<param-name>http.error.page</param-name>
		<param-value>/front/common/error.jsp?errorNum=-99999</param-value>
	</context-param>
	<context-param>
		<param-name>http.session.timeout.redirect.page</param-name>
		<param-value>/front/common/error.jsp?errorNum=-10001</param-value>
	</context-param>
	<context-param>
		<param-name>http.mapping.nourl.redirect.page</param-name>
		<param-value>/front/common/error.jsp?errorNum=-10002</param-value>
	</context-param>
	<context-param>
		<param-name>http.session.notauthenticated.redirect.page</param-name>
		<param-value>/front/common/error.jsp?errorNum=-10003</param-value>
	</context-param>
	<context-param>
		<param-name>jndi.datasource.default.name</param-name>
		<param-value>SmarketplaceDS</param-value>
	</context-param>
	<context-param>
		<param-name>mail.enable</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>mail.server</param-name>
		<param-value>smtp.cafe24.com</param-value>
	</context-param>
	<context-param>
		<param-name>sms.enable</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>mail.id</param-name>
		<param-value>mro@global-cj.com</param-value>
	</context-param>
	<context-param>
		<param-name>mail.pw</param-name>
		<param-value>cjswh123</param-value>
	</context-param>
	<context-param>
		<param-name>default.sms.number</param-name>
		<param-value>1800-1280</param-value>
	</context-param>
	<context-param>
		<param-name>workflow.enable</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>develop.enable</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>upload.license</param-name>
		<param-value>/WEB-INF/license/dextuploadj.config</param-value>
	</context-param>
	<context-param>
		<param-name>upload.dir</param-name>
		<param-value>/uploadDir/</param-value>
	</context-param>
	<context-param>
		<param-name>upload.dir.product</param-name>
		<param-value>/uploadDir/product/</param-value>
	</context-param>
	<context-param>
		<param-name>upload.dir.board</param-name>
		<param-value>/uploadDir/board/</param-value>
	</context-param>
	<context-param>
		<param-name>upload.dir.businessCard</param-name>
		<param-value>/uploadDir/businessCard/</param-value>
	</context-param>
	<context-param>
		<param-name>upload.dir.nonProduct</param-name>
		<param-value>/uploadDir/nonProduct/</param-value>
	</context-param>
	<context-param>
		<param-name>upload.dir.rfx</param-name>
		<param-value>/uploadDir/rfx/</param-value>
	</context-param>
	<context-param>
		<param-name>upload.dir.user</param-name>
		<param-value>/uploadDir/user/</param-value>
	</context-param>
	<context-param>
		<param-name>upload.dir.order</param-name>
		<param-value>/uploadDir/order/</param-value>
	</context-param>
	<context-param>
		<param-name>upload.dir.workflow</param-name>
		<param-value>/uploadDir/workflow/</param-value>
	</context-param>
	<context-param>
		<param-name>upload.dir.csr</param-name>
		<param-value>/uploadDir/csr/</param-value>
	</context-param>
	<context-param>
		<param-name>upload.dir.noimage</param-name>
		<param-value>/front/images/common/</param-value>
	</context-param>
	<context-param>
		<param-name>upload.nas1</param-name>
		<param-value>/workspace/nas/image/mro</param-value>
	</context-param>
	<context-param>
		<param-name>upload.nas2</param-name>
		<param-value>/workspace/nas2/image/mro</param-value>
	</context-param>
	<context-param>
		<param-name>mp.server</param-name>
		<param-value>H</param-value>
	</context-param>
	<context-param>
		<param-name>INFSWITCH</param-name>
		<param-value>ON</param-value>
	</context-param>

	<!-- SAP 정보 추가 : 2018-0-01 -->
	<context-param>
		<param-name>sap.live</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>sap.akp.client</param-name>
		<param-value>100</param-value>
	</context-param>
	<context-param>
		<param-name>sap.akp.userid</param-name>
		<param-value>PM003</param-value>
	</context-param>
	<context-param>
		<param-name>sap.akp.password</param-name>
		<param-value>1851017</param-value>
	</context-param>
	<context-param>
		<param-name>sap.akp.host</param-name>
		<param-value>10.100.1.41</param-value>
	</context-param>
	<context-param>
		<param-name>sap.akp.r3name</param-name>
		<param-value>COQ</param-value>
	</context-param>
	<context-param>
		<param-name>sap.akp.groupname</param-name>
		<param-value>SPACE</param-value>
	</context-param>
	<!-- SAP 정보 추가 끝 -->

	<servlet>
		<servlet-name>FCHttpServlet</servlet-name>
		<servlet-class>wdf.servlets.FCHttpServlet</servlet-class>
		<init-param>
			<param-name>MESSAGE_RESOURCENAME</param-name>
			<param-value>/classes/resources/message/messages_ko.properties</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<display-name>UbiGateway</display-name>
	<servlet>
		<servlet-name>UbiForm</servlet-name>
		<servlet-class>com.ubidcs.report.gateway.UbiForm</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UbiData</servlet-name>
		<servlet-class>com.ubidcs.report.gateway.UbiData</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UbiAdmin</servlet-name>
		<servlet-class>com.ubidcs.report.gateway.UbiAdmin</servlet-class>
	</servlet>
	<!-- Servlet for UbiDaemon -->
	<servlet>
		<servlet-name>UbiGateway</servlet-name>
		<servlet-class>com.ubidcs.report.gateway.UbiGateway</servlet-class>
	</servlet>
	<filter>
		<filter-name>sitemesh</filter-name>
		<filter-class>com.opensymphony.sitemesh.webapp.SiteMeshFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>sitemesh</filter-name>
		<url-pattern>*.do</url-pattern>
  	</filter-mapping>

	<servlet-mapping>
		<servlet-name>UbiForm</servlet-name>
		<url-pattern>/UbiForm.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UbiData</servlet-name>
		<url-pattern>/UbiData.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UbiAdmin</servlet-name>
		<url-pattern>/UbiAdmin.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UbiGateway</servlet-name>
		<url-pattern>/UbiGateway.jsp</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>Ajax client Listener</description>
		<display-name>AjaxListenerServlet</display-name>
		<servlet-name>AjaxListenerServlet</servlet-name>
		<servlet-class>wdf.servlets.AjaxListenerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FCHttpServlet</servlet-name>
		<url-pattern>*.do</url-pattern>
		<url-pattern>*.json</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AjaxListenerServlet</servlet-name>
		<url-pattern>*.lsnr</url-pattern>
	</servlet-mapping>
	<mime-mapping>
		<extension>htc</extension>
		<mime-type>text/plain</mime-type>
	</mime-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<distributable />
</web-app> 